
{% if user.is_authenticated %}

Logged In as {{ user.username }}

<a href="{% url 'createtodos' %}">Create</a>
<a href="{% url 'currenttodos' %}">Current</a>
<a href="{% url 'completedtodos' %}">Completed</a>



<!-- <a href="{% url 'logoutuser' %}">Logout</a> -->
<form action="{% url 'logoutuser' %}" method="POST">
{% csrf_token %}
<button type="submit">LogOut</button>
</form>


{% else %}

<a href="{% url 'signupuser' %}">Sign Up</a>
<a href="{% url 'loginuser' %}">LogIn</a>


{% endif %}
<br><br>

{% block content %}{% endblock %}
